@charset "utf-8";
header {
  width: 84rem;
  height: 3.55rem;
  margin: 0 auto;
}
.head-wrap {
  width: 60rem;
  height: 3.5rem;
  margin: 0 11.25rem;
  padding: 0 0.75rem;
}
#log {
  display: block;
  width: 4.25rem;
  height: 1.3rem;
}
.head-aa {
  padding: 1.1rem 0;
}
.head-a {
  width: 45rem;
  height: 3.5rem;
}
.head-a1 {
  width: 33.2rem;
  height: 3.5rem;
  margin-left: 4rem;
}
.head-a1 a:hover {
  color: #005aaa;
}
.head-a1 > li {
  float: left;
  height: 3.5rem;
  padding: 0 1.5rem;
  line-height: 3.5rem;
}
.head-a1a {
  font-size: 0.7rem;
  color: #333333;
  font-weight: 700;
}
.head-b {
  width: 15rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head-b1 {
  width: 10.5rem;
  height: 1.9rem;
  overflow: hidden;
  background-color: #fafafa;
}
.head-b1 input {
  display: block;
  width: 9rem;
  height: 1.9rem;
  border: none;
  background-color: #fafafa;
}
.head-b1 i {
  font-size: 1.4rem;
  margin-top: 0.1rem;
}
.head-i1 {
  font-size: 1.8rem !important;
}
.head-i2 {
  font-size: 1.5rem !important;
}
.head-i2:hover {
  color: red;
}
.head-a1 li {
  position: relative;
}
.list {
  position: absolute;
  top: 3.2rem;
  left: 0;
  float: left;
  display: none;
  width: 100%;
  background: #f6f6f6;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.list > p {
  width: 100%;
  height: 0.3rem;
  background-color: #005aaa;
}
.list > a {
  text-align: center;
  color: #444444;
  background: 0 0;
  height: 2.5rem;
  line-height: 2.5rem;
  display: block;
  font-size: 0.7rem;
}
