@charset "utf-8";
header {
  width: 84rem;
  height: 3.55rem;
  margin: 0 auto;
}
.head-wrap {
  width: 60rem;
  height: 3.5rem;
  margin: 0 11.25rem;
  padding: 0 0.75rem;
}
#log {
  display: block;
  width: 4.25rem;
  height: 1.3rem;
}
.head-aa {
  padding: 1.1rem 0;
}
.head-a {
  width: 45rem;
  height: 3.5rem;
}
.head-a1 {
  width: 33.2rem;
  height: 3.5rem;
  margin-left: 4rem;
}
.head-a1 a:hover {
  color: #005aaa;
}
.head-a1 > li {
  float: left;
  height: 3.5rem;
  padding: 0 1.5rem;
  line-height: 3.5rem;
}
.head-a1a {
  font-size: 0.7rem;
  color: #333333;
  font-weight: 700;
}
.head-b {
  width: 15rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head-i1 {
  margin: 0 0.5rem;
}
.head-b1 {
  width: 10.5rem;
  height: 1.9rem;
  overflow: hidden;
  background-color: #fafafa;
}
.head-b1 input {
  display: block;
  width: 9rem;
  height: 1.9rem;
  border: none;
  background-color: #fafafa;
}
.head-b1 i {
  font-size: 1.4rem;
  margin-top: 0.1rem;
}
.head-i1 {
  font-size: 1.8rem !important;
}
.head-i2 {
  font-size: 1.5rem !important;
}
.head-i2:hover {
  color: red;
}
.head-a1 li {
  position: relative;
}
.list {
  position: absolute;
  top: 3.2rem;
  left: 0;
  float: left;
  display: none;
  width: 100%;
  background: #f6f6f6;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.list > p {
  width: 100%;
  height: 0.3rem;
  background-color: #005aaa;
}
.list > a {
  text-align: center;
  color: #444444;
  background: 0 0;
  height: 2.5rem;
  line-height: 2.5rem;
  display: block;
  font-size: 0.7rem;
}
footer {
  width: 84rem;
  height: 21.3rem;
  margin: 0 auto;
  background-color: rgb(246, 247, 249);
}
#footer-wrap {
  width: 60rem;
  height: 20.8rem;
  padding: 0.5rem 0.75rem 0;
  margin: 0 auto;
}
.footer-content {
  width: 60rem;
  height: 17rem;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.footer-content > ul {
  width: 10rem;
}
.footer-content > ul > span {
  display: block;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.75rem 0;
}
.footer-content > ul > li > a {
  font-size: 0.6rem;
  color: rgb(68, 68, 68);
  padding: 0.25rem;
}
.footer-content > ul > li > a:hover {
  text-decoration: underline;
}
.law {
  width: 60rem;
  height: 1.35rem;
  padding: 0.75rem 0;
  border-top: 1px solid rgb(200, 200, 200);
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.law-nav {
  width: 20rem;
  height: 0.75rem;
}
.law-nav a {
  font-size: 0.6rem;
  display: block;
  width: 3rem;
  height: 0.75rem;
  line-height: 0.75rem;
  float: left;
  text-align: center;
  overflow: hidden;
}
.law-nav a:hover {
  color: #005aaa;
}
.law-nav i {
  display: block;
  font-size: 0.6rem;
  height: 0.75rem;
  line-height: 0.75rem;
  width: 0.2rem;
  padding: 0 0.5rem;
  float: left;
}
.law-banquan {
  width: 20rem;
  height: 0.75rem;
}
.law-banquan a {
  display: block;
  width: 6rem;
  height: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  font-size: 0.6rem;
  float: left;
  overflow: hidden;
}
.law-banquan a:hover {
  color: #005aaa;
}
.law-banquan i {
  display: block;
  font-size: 0.6rem;
  height: 0.75rem;
  line-height: 0.75rem;
  width: 0.2rem;
  padding: 0 0.5rem;
  float: left;
}
.law-banquan li {
  width: 10.5rem;
  height: 0.75rem;
  line-height: 0.75rem;
  font-size: 0.6rem;
  float: left;
  overflow: hidden;
}
.law-weixin {
  width: 12rem;
  height: 0.75rem;
}
.law-weixin h2 {
  width: 6rem;
  height: 0.75rem;
  line-height: 0.75rem;
  font-size: 0.6rem;
  float: left;
  overflow: hidden;
}
.law-weixin a {
  font-size: 0.6rem;
  color: #005aaa;
  float: left;
  display: block;
  width: 2rem;
  text-align: center;
  height: 0.75rem;
  line-height: 0.75rem;
}
.law-weixin h3 {
  font-size: 0.6rem;
  width: 3rem;
  height: 0.75rem;
  line-height: 0.75rem;
  float: left;
  overflow: hidden;
}
.law-weixin i {
  font-size: 0.6rem;
  color: green;
  float: left;
}
