@charset "utf-8";
#banner-wrap {
  width: 95.15rem;
  height: 28rem;
  background-color: pink;
}
#banner-wrap {
  width: 84rem;
  height: 28rem;
  margin: 0 auto;
  background-color: black;
  position: relative;
  overflow: hidden;
}
